<div class="card border-dark mb-3" style="max-width: 15rem;">
    <div class="text-center">
        <div class="card-header bg-primary text-white">@Hora</div>

        <div class="card-body">
            <div class="card-title">Polvo: @Dust</div>
            <h5 class="card-title">Ozono: @Ozone</h5>
            <p class="card-text">PM10: @PM10</p>
            <p class="card-text">PM2.5: @PM2_5</p>
            <p class="card-text">Monóxido de Carbono: @CarbonMonoxide</p>
            <p class="card-text">Dióxido de Nitrógeno: @NitrogenDioxide</p>
            <p class="card-text">Índice UV: @UVIndex</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Hora { get; set; }
    [Parameter]
    public float? PM10 { get; set; }
    [Parameter]
    public float? PM2_5 { get; set; }
    [Parameter]
    public float? CarbonMonoxide { get; set; }
    [Parameter]
    public float? NitrogenDioxide { get; set; }
    [Parameter]
    public float? Ozone { get; set; }
    [Parameter]
    public float? Dust { get; set; }
    [Parameter]
    public float? UVIndex { get; set; }
}
